@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.search-box {
  margin: 15px;
  font-family: 'Merienda', cursive;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}